#CountLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

#BtnContainer {
    text-align: center;
}

.button {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: aqua;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button:hover {
    background-color: rgb(68, 84, 212);
}